<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<header>
    <h1>All Books</h1>
</header>
<main>
    <table>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Publication Year</th>
            <th>Pages</th>
        </tr>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.id}"></span></td>
            <td><span th:text="${book.title}"></span></td>
            <td><span th:text="${book.publication_year}"></span></td>
            <td><span th:text="${book.pages}"></span></td>
        </tr>
    </table>
</main>
</body>
</html>